/* https://gist.github.com/ZachSaucier/8295d9dc926d7064ff0d4f3f04b35b55 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Roboto+Mono&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75em;
  background-color: #222222;
  color: #aaaaaa;
}

canvas {
  display: block; /* must be block otherwise gets space below */
}

iframe {
  border: none;
  display: inline-block;
  overflow: hidden;
}

.border {
  border: 1px solid #aaa;
  box-sizing: content-box;
}

.absolute {
  position: absolute;
  margin-left: 4px;
}

/* Apply to body inside iframes to remove border, use standard background color. */
.no-margin {
  margin: 0;
}

/* keep main overlay items from shifting with window size */
.no-wrap {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}

.frame-container {
  display: inline-block;
}

/* Match parent size, trim any overflow. */
.canvas-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.center-text {
  text-align: center;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.jumble-container {
  padding: 2px;
  box-sizing: border-box;
}

.jumble-entry {
  display: inline-block;
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

.font-size-large {
  font-size: 24px;
}

.rotating-container {
  position: relative;
}
.rotating-content {
  position: absolute;
  transition: opacity 0.75s ease-in-out;
  opacity: 0;
}

.size-fill {
  width: 100%;
  height: 100%;
}

.size-std {
  width: 400px;
  height: 75px;
}

.size-leaderboard {
  width: 1200px;
  height: 150px;
}

.size-objectives {
  width: 400px;
  height: 544px; /* 17 rows, must be 528 or taller to avoid table spilling larger than size */
}

.size-secrets {
  width: 400px;
  height: 300px;
}

.size-laws {
  width: 400px;
  height: 150px;
}

.size-technology {
  width: 1200px;
  height: 400px;
}

.size-rotating {
  width: 400px;
  height: 544px;
}

.size-resources {
  width: 1200px;
  height: 312px;
}

.size-whispers {
  width: 800px;
  height: 300px;
}

.size-tempo {
  width: 400px;
  height: 298px;
}

.size-calc {
  width: 400px;
  height: 400px;
}

.size-map {
  width: 1200px;
  height: 1200px;
}

.size-objectives-progress {
  width: 400px;
  height: 544px;
}

.size-turn-order {
  width: 400px;
  height: 600px;
}

.size-plastic {
  width: 800px;
  height: 398px;
}

.size-turn-timer {
  width: 400px;
  height: 75px;
}
