.objectives {
  table-layout: fixed;
}

.objective-name {
  position: relative;
  padding-top: 2px; /* all caps has nothing below baseline, centering looks off */
  padding-right: 6px;
  text-align: right;
  text-transform: uppercase;
}

.scored-by {
  width: 22px;
  text-align: center;
}
