.objectives {
  table-layout: fixed;
  border-collapse: collapse;
}

.objectives td {
  border: 1px solid #222;
}

.objective-name {
  position: relative;
  padding-right: 6px;
  text-align: right;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
}

.scored-by {
  width: 26px;
  text-align: center;
}
