.resources {
  table-layout: fixed;
  border-collapse: collapse;
  box-sizing: border-box;
}

.resources td {
  height: 50%;
  border: 1px solid #aaa;
  box-sizing: border-box;
  text-align: center;
}

.resources canvas {
  margin-left: auto;
  margin-right: auto;
}
