.technology {
  white-space: nowrap;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
}

.technology th {
  height: 20px;
  font-size: larger;
  text-transform: capitalize;
}
.technology td {
  vertical-align: top;
  text-align: center;
}
.technology div {
  overflow: hidden;
}
