.tf-genomes {
  white-space: nowrap;
  table-layout: fixed;
  border-collapse: collapse;
}

.tf-genomes th {
  height: 20px;
  font-size: larger;
  text-transform: capitalize;
  vertical-align: top;
}

.tf-genomes td {
  vertical-align: top;
  text-align: center;
}

.tf-genomes div {
  overflow: hidden;
}