@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Roboto+Mono&display=swap");

body {
  background-color: transparent;
  opacity: 1;
}

.sidebar-space {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

.bottombar {
  background-color: green;
  position: absolute;
  left: 20%;
  height: 50%;
  right: 0; /* script may set to fit sidebar */
  bottom: 0;
  overflow: hidden;
}
